html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#233c27;
  /*#525d4e;  /* optional: change the background */
  /*#0d2f12;
  overflow: hidden;
}
canvas {
  display: block;
}


  
